URxvt*.scrollBar: false
URxvt*.foreground: white
URxvt*.background: black
URxvt*.font: xft:Inconsolata:size=15

URxvt.perl-ext-common: font-size,url-select,keyboard-select,clipboard

URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-S-Up: perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.iso14755: false
URxvt.iso14755_52: false

! For copy and pasting, use the default X key bindings. After selecting the
! text Ctrl+Insert or Ctrl+Alt+C can be used to copy and Shift+Insert or
! Ctrl+Alt+V to paste.

! See :help clipboard in Vim for copy/paste support. For the moment, the
! keyboard-select extension does the job.

! See files in /usr/lib/urxvt/perl/ for more shortcuts.

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/chromium
URxvt.url-select.underline: true

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.autocopy: true
